{% extends "index.html" %}

{% block page_block %}
  <div class="row">
    <div class="container">
      <div class="jumbotron">
        <h1>Contact PROJECT_NAME</h1>
        <p class="lead">
          PROJECT_NAME would like to hear from you.
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>PROJECT_NAME people</h4>
          <p>
            Chad Rempp - <a href="mailto:crempp@gmail.com">crempp@gmail.com</a>
          </p>

          <h4>PROJECT_NAME places</h4>
          <p>none yet</p>
        </div>

      </div>
    </div>

  </div>
{% endblock %}